<div class="container">
  <div class="row" >
    <div class="col h5">
    <%= "#{@user.nickname}さんの学習ジャンル" %>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ジャンル</th>
          <th scope="col">内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>ジャンル名１</td>
          <td>ジャンルの説明１</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>ジャンル名２</td>
          <td>ジャンルの説明２</td>
        </tr>
      </tbody>
    </table>
</div>
